/*general*/
* {
	box-sizing: border-box;
}
body {
	background-color: #2a3d5c;
	color: #d1d6d0;
}
h2 {
	text-shadow: 2px 2px 2px black;
	text-align: center;
}
.container{
	position: relative;
	clear: both;
}

/*header*/
#header {
	position: relative;
	background-color: black;
	border: solid #17304d 2px;
	margin-bottom:20px;
	height: 120px;
}
h1 > img {
	position: relative;
	top: -10px;
	margin-left: 20px;
}
h1 > img:hover {
	cursor: pointer;
}
h1 > span {
	position: absolute;
	top: 40px;
	text-align: left;
	margin-left: 40px;
}
@media (max-width: 576px) {
	h1 > span { 
		margin-left: 10px;
		font-size: 6vw;
	}
	h1 > img {
		top: 0px;
		margin-left: 10px;
		height: 75px;
		width: 75px;
	}
}
@media (max-width: 836px) {
	h1 > span { 
		top: 20px;
	}
}
@media (max-width: 880px) {
	h1 > span { 
		margin-left: 20px;
	}
}

/*main menu*/
div.main-menu-button > h2 {
	text-align: center;
	background-color: grey;
	margin: 0px;
}
.main-menu-button {
	position: relative;
	text-shadow: 2px 2px 2px black;
	background-color: #5b615a;
	width: 300px;
	margin: auto;
	border: solid black 2px;
}
.main-menu-button:hover {
	border: solid white 2px;
}
.main-menu-button > img {
	position: relative;
	margin: 10px 25px 10px 25px;
}
.row-main{
	float: left;
	position: relative;
	margin-bottom: 20px;
	width: 100%;
}
@media (min-width: 660px) {
	.row-main{ width: 50%; }
	.last-row { width: 100%; }
}
@media (min-width: 992px) {
	.row-main{ width: 33%; }}
	
/*data input*/
.input-section, .input-section-wide, .input-section-narrow {
	position: relative;
	display: block;
	background-color: #5b615a;
	width: 350px;
	margin: 20px 5%;
	text-shadow: 2px 2px 2px black;
	border: solid black 2px;
	padding: 0px 0px 20px 20px;
	float: left;
}
.input-section-narrow {
	width: 250px;
	margin: 20px 5%;
}
.input-section-wide {
	width: 550px;
}

.input-section > h2, .input-section > h3 {
	margin-left: 20px;
}
.input-selection-row, .input-field, .input-field-wide {
	position: relative;
	padding-top: 3px;
	/* padding-left: 20px; */
	padding-right: 10px;
	font-size: 20px;
	width: 310px;
	height: 1.5em;
	margin: 5px 0px;
	color: white;
	text-align: left;
}

div.input-field-wide {
	width: 550px;
}
.input-selection-row {
	padding-left:30px;
}
.input-selection-row:hover {
	background-color: grey;
}
label.settings-input {
	height: 1.5em;
	/* margin-left: 33px; */
	font-size: 20px;
	color:white;
}

label.radio > .input-selection-row {
	width: 290px;
	margin: 5px 5px;
}
input[type="text"], input[type="number"] {
	position: relative;
	border: solid black 1px;
	height: 1.5em;
	float: right;
	right: 170px;
	/* width: 250px; */
}
label.settings-input > input[type="text"], 
label.settings-input > input[type="number"] {
	right: 20px;
}
.input-field-wide > input[type="text"] {
	width: 400px;
	right: 40px;
}

input[type="checkbox"] {
	height: 1.5em;
	width: 1.5em;
	float: right;
	position: relative;
	top: -1px;
	/* right: 40px; */
}
div.radio-section {
	border: solid black 2px;
	margin-right: 20px;
}
label.column-input {
	font-size: 20px;
}
label.input-type-select {
	height: 0px;
	margin: 0px;
}
textarea {
	position: relative;
	background-color: #d9d5ce;
	border: solid black 2px;
}
textarea.input {
	height: 25vh;
	width: 14em;
}

.row{
	float: left;
	position: relative;
	margin-bottom: 10px;
	width: 100%;
	height: 250px;
	padding-left: 60px;
}
@media (min-width: 768px) {
	.row{ width: 50%; }}
@media (min-width: 992px) {
	.row{ width: 33%; }}
@media (min-width: 1200px) {
	.row{ width: 25%; }}

button {
	margin-bottom: 20px;
}

div.buttons {
	display: block;
	clear: both;
	margin-top: 20px;
	margin-left: 10%;
	width: auto;
}

div.buttons > button {
	font-size: 20px;
	margin-left: 10px;
}
.single-pkmn {
	width: 90%;
}
.single-pkmn:hover {
	background-color: grey;
	color: white;
}

/* output */
textarea.output {
	height: 25vh;
	width: 60%;
}
